{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Object Detection</title>
</head>
<body>
    <header>
        <h1>✨ Masters AI ✨</h1>    
    </header>
    
    <div class="video-container">
        <h1>Centro de detección:</h1>
        <hr/>
        <img src="{% url 'video_feed' %}" class="video-frame" width="350" height="450" alt="Video feed">
    </div>
    
    <div class="data-container">
        <h1>Detecciones:</h1>
        <hr/>
        <ul id="detections-list">
            {% comment %}Los valores iniciales para la demostración.{% endcomment %} 
            <li>Material: </li>
            <li>Percentage: </li>
            
        </ul>
        <img id="material-image" src="{% static 'imgs/default.png' %}" alt="material-image" srcset="">
    </div>

    <script src="{% static 'js/fetch_detections.js' %}"></script>
</body>
</html>
