{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Detección de Objetos</title>
</head>
<body>
    <div class="video-container">
        <img src="{% url 'video_feed' %}" class="video-frame" width="500" height="500" alt="Video feed">
    </div>
    <div class="data-container">
        <h2>Detecciones:</h2>
        <ul id="detections-list"></ul>
    </div>

    <script src="{% static 'js/fetch_detection.js' %}"></script>
</body>
</html>
